<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo list web app</title>
    <link rel="stylesheet" href="../static/css_style_main_page_todo_list.css">
</head>
<body>
    <div class="Weather">
        <a class="weatherwidget-io" href="https://forecast7.com/en/31d0534d85/israel/" data-label_1="ISRAEL" data-label_2="WEATHER" data-theme="original">ISRAEL WEATHER</a>
        <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>
    </div>
    
    <div id="clock">
        <iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:340px;height:35px;" src="https://www.clocklink.com/html5embed.php?clock=017&timezone=IST&color=white&size=340&Title=&Message=&Target=&From=2024,1,1,0,0,0&Color=white"></iframe>
    </div>
    
    <div class="main_title">
        <a href="/" id="a_main_title">
            <h1 style="color: black;"><span class="highlight">T</span>ODO <span class="highlight">L</span>IST</h1>
        </a>
    </div>

    <div id="info">
        <p> I'm Netanel Bukris – a curious and ambitious individual with a passion for technology and innovative solutions. With experience in DevOps, app development, and advanced technologies, I am always eager to take on new challenges. If you have any questions, ideas for collaboration, or technological challenges you'd like to discuss, feel free to reach out. I’d love to connect and help bring creative, focused solutions to the table. You can contact me at netanel.nisim.bukris@gmail.com.</p>
    </div>
</body>
</html>
